
    body {
      font-family: Arial, sans-serif;
    
      background-color: #0f172a;
      color: #f8fafc;
      text-align: center;
      padding: 50px;
      width: 400px;
      height: 200px;
      border-radius: 20px;
      border: 2px solid green;
      box-shadow: 0 0 20px green;
      align-items: center;
      margin-left: 30%;
      margin-top: 10%;
    }
    h1 {
      color: #93abb5;
      text-shadow: 0 0 20px black;
    }
    input {
      padding: 10px;
      width: 350px;
      border: none;
      border-radius: 10px;
      margin-right: 10px;
      height: 30px;
      color: red;
      background: transparent;
      box-shadow: 0 0 10px rgb(212, 202, 202);
    }
    button {
      padding: 10px 20px;
      background-color: #1d3e4c00;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
    
      
    }
    #result {
      margin-top: 20px;
      font-size: 1.2rem;
    }
.back{
    text-decoration: none;
    color: red;
    font-size: 20px;
    
}